* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ff6666;
}

.nav-logo {
    height: 80px;
}

.nav-logo-heading {
    display: flex;
    align-items: center;
    color: black;
}

.nav {
    margin: 0 20px;
}

li {
    list-style: none;
    display: inline-block;
}

li,
a {
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.container-1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-left: 2px;
    text-align: start;
    font-size: 25px;

}

.main-img {
    margin-bottom: -50px;
    height: 460px;
    width: 460px;
}

.text-1 {
    margin-top: 30px;
}

.text-2 {
    margin-top: 10px;
    color: #ff3333;
}

.text-3 {
    margin-top: 30px;
    font-size: 30px;
}

.text-4 {
    margin-top: 10px;
    font-size: 30px;
}

.btn {
    padding: 15px;
    border-radius: 40px;
    width: 200px;
    font-weight: 600;
    color: white;
    background-color: #ff3333;
    border: none;
}

.btn:hover {
    color: black;
    transition: 0.8s;
    background-color: #ff6666;
}

/* Container-2 */

.container-2 {
    display: flex;
    gap: 40px;
    padding: 40px;
}

.flavours {
    text-align: center;
    margin-top: 90px;
}

.flavours h1 {
    font-size: 2em;
    color:#ff3333;
}

.flavours p {
    color: #555;
    font-size: 1.2em;
    margin-top: 15px;
}

.cards {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 330px;
    width: 250px;
    padding: 20px;
    text-align: center;
}

.cards img {
    height: 160px;
    width: 100%;
    border-radius: 10px;
}

.cards h3 {
    margin-top: 25px;
    color: #333;
}

.cards p {
    color: #777;
    font-size: 14px;
    margin: 15px 0;
}

.price {
    font-size: 18px;
    color: #ff7f50;
    font-weight: bold;
    margin: 12px 0;
}

.cards button {
    background-color: #ff3333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

.cards button:hover {
    background-color: #ff6347;
}